{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6":     true,
    "browser": true,
    "node":    true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "import/named": "error",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to", "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref" ]
    }],
    "jsx-a11y/label-has-for": [ "error", {
      "components": [ "Label" ],
      "required": "id",
      "allowChildren": false
    }],
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "import/no-cycle": "off",
    "react/sort-comp": "off",
    "template-curly-spacing": "off",
    "indent": "off"
  }
}
