# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Intellij Idea files
*.iml
*.ipr
*.iws

.idea/
build/
out/
node_modules

# Gradle files
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Mobile
# expo
mobile/.expo/

# dependencies
mobile/node_modules

# misc
mobile/.env.local
mobile/.env.development.local
mobile/.env.test.local
mobile/.env.production.local

mobile/npm-debug.log*
mobile/yarn-debug.log*
mobile/yarn-error.log*

mobile/config.js

local.properties

# Jasper files
reports/*.jasper
reports/*.jasper.hex

# bundle
mobile/android/app/src/main/assets/index.android.bundle
mobile/android/app/src/main/res/drawable*
