<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MMM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
    </encoder>
  </appender>

  <root level="error">
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="org.motechproject.mots.Application" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="org.motechproject.mots.domain.security.ClientDetails" level="WARN" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="org.motechproject.mots.service.ModuleProgressService" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="org.motechproject.mots.service.ModuleAssignmentService" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <logger name="org.motechproject.mots.task.ModuleAssignmentNotificationScheduler" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

</configuration>
