$gray-lighter: #f8f8f8;
$gray-light: #ebebeb;
$gray-mid: #e7e7e7;
$blue-mid: #337ab7;
$dark-navy: #23527c;

.wrapper {
  display: flex;
}

#navbar {
  margin-bottom: 0;
  color: $blue-mid !important;

  .navbar-brand{
    font-size: 1.6em
  }
}

.navbar-default .navbar-nav>li>a {
  color: $blue-mid !important;
  &:hover {
    color: $dark-navy !important;
  }
}

.body-content {
  font-family: sans-serif;
  flex: 1;
  padding: 15px;

  .page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid #eee;
  }
}

p {
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus, a:active, a:visited {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  background-color: $gray-lighter;
  border-right: 1px solid $gray-mid;
  color: $blue-mid;

  ul {
    list-style-type:none;
    padding-left: 0;

    li {
      border-bottom: 1px solid #e7e7e7;

      a {
        padding: 10px 10px 10px 15px;
        font-size: 1.1em;
        display: block;

        &:hover, &:focus {
          color: $dark-navy;
          background: $gray-light;
          transition: all 0.3s;
          text-decoration: none;
        }
      }
    }

    li.active > a {
      background: $gray-light;
      text-decoration: none;
    }
  }
}