@import 'dimensions';
$gray-lighter: #f8f8f8;
$gray-light: #ebebeb;
$gray-mid: #e7e7e7;
$gray-dark: #999;
$blue-mid: #337ab7;
$dark-navy: #23527c;
$red: #f00;

/* Global Styles */

body {
  margin-top: 100px;
}

@media(min-width:768px) {
  body {
    margin-top: 50px;
  }
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  font-family: sans-serif;
  width: 100%;
  padding: 0;

  .page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid $gray-mid;
  }
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding: 10px;
  }
}

p {
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: $gray-dark;
}

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  transition: all 0.3s;
}

/* Global Navigation */

.navbar {
  background-color: $gray-lighter;
}

.navbar-inverse {
  border-color: $gray-mid;
}

/* Top Navigation */

.navbar-brand {
  font-size: 1.6em
}

.top-nav {
  padding: 0 15px;
  color: $blue-mid !important;
  background-color: $gray-lighter;

  li {
    display: inline-block;
    float: left;

    a {
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 20px;
      color: $blue-mid !important;

      &:hover, &:focus {
        color: $dark-navy !important;
        background-color: $gray-lighter;
      }
    }
  }
}

/* Side Navigation */

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border-right: 1px solid $gray-mid;
    border-radius: 0;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;

    li {
      a {
        width: 225px;

        &:hover, &:focus {
          outline: none;
        }
      }
    }
  }
}

.side-nav {
  background-color: $gray-lighter;
  color: $blue-mid;

  li {
    border-bottom: 1px solid $gray-mid;

    a {
      background-color: $gray-lighter;
      color: $blue-mid !important;

      &:hover, &:focus {
        color: $dark-navy !important;
        background: $gray-light !important;
      }
    }

    ul {
      padding: 0;

      li {
        a {
          display: block;
          padding: 10px 15px 10px 38px;
          text-decoration: none;

          &:hover, &:focus {
            color: $dark-navy;
            background: $gray-light;
          }
        }
      }
    }
  }
}

/* Other Styles */

.form-group.required .control-label:after {
  content: "*";
  color: $red;
}
