$r-xsmall-min: 320px;
$r-xsmall-max: 767px;
$r-small-min: 768px;
$r-small-max: 959px;
$r-medium-min: 960px;
$r-medium-max: 1365px;
$r-big-min: 1366px;
$r-big-max: 1919px;
$r-large-min: 1920px;


@media(max-width: $r-xsmall-max) {
  .hide-max-r-xsmall-max {
    display: none;
  }
}
